<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Захоплення та інтереси
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Список інтересів та хоббі</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="musical-notes-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        Гра на гітарі
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="game-controller-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        Відеоігри
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="pizza-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        Піцца
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>