<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Контактні дані
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Зв'язок з автором</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="start" color="medium" name="at-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        sovasasha1@gmail.com
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="call-outline"></ion-icon>
      <ion-label class="ion-text-wrap">
        +380 (98) 032-33-05
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>