<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Загальна інформація</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Контактні дані</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="hobbytab">
      <ion-icon name="sparkles-outline"></ion-icon>
      <ion-label>Хоббі</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>