<ion-card>
  <ion-card-header>
    <ion-card-title>{{title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-label position="floating">Назва</ion-label>
      <ion-input type="text" [(ngModel)]="bookInfo.name" name="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Автор</ion-label>
      <ion-input type="text" [(ngModel)]="bookInfo.author" name="author"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Жанр</ion-label>
      <ion-input type="text" [(ngModel)]="bookInfo.genre" name="genre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Рік видання</ion-label>
      <ion-input type="number" [(ngModel)]="bookInfo.year" name="year"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>