<ion-header>
  <ion-toolbar>
    <ion-title>
      Перший проект Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Ionic_Logo.svg/200px-Ionic_Logo.svg.png"
      alt="" />
    <ion-card-header>
      <ion-card-subtitle>Автор застосунку</ion-card-subtitle>
      <ion-card-title>Загальна інформація</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon slot="start" color="medium" name="person-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            Сова Олександр Михайлович
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="people-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            Группа №302
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" color="medium" name="desktop-outline"></ion-icon>
          <ion-label class="ion-text-wrap">
            Комп'ютерні науки
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>