<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
    <ion-buttons slot="secondary">
      ({{userName}})
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list-header collapse="condense">
      <ion-label>Автори</ion-label>
      <ion-button shape="round" fill="outline" color="success" (click)="add()">
        <ion-icon slot="start" name="add"></ion-icon>Додати
      </ion-button>
    </ion-list-header>

    <app-author *ngIf="showNew" [isNew]="true" (addAuthor)="addAuthor($event)" (cancelAddingAuthor)="showNew=false">
    </app-author>

    <div *ngFor="let author of authors; let i = index">
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="showEdit=i">
            <ion-icon name="create"></ion-icon>Змінити
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(author)">
            <ion-icon name="trash"></ion-icon>Видалити
          </ion-item-option>
        </ion-item-options>

        <ion-item (click)="showEdit=-1">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>{{author.name}}</ion-label>
          <ion-note slot="end">{{author.country}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary" [routerLink]="['/books/'+ author.name, {id: author.id}]"
            routerDirection="forward">
            <ion-icon name="reorder-four-outline"></ion-icon>
            Книжки
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <app-author *ngIf="showEdit==i" [isNew]="false" [authorInfo]="author"></app-author>
    </div>
  </ion-list>
</ion-content>